*{
    margin=0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    display:flex;
    align-items:center;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.logo {
    margin: auto;
    flex: none;
    display: inline-block;
}

input[type=text] {
    width: 65px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    padding:3px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-family: 'Nunito', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

input[type=text]:focus {
    width: 80%;
  }

.logo-img {
    width: 50%;
    padding-bottom: 0.5rem;
}

nav{
    flex: none;
    margin: auto;
    text-align: center;
}
nav ul{
    display:inline-block;
    list-style-type:none;
   
}
nav ul li{
    display:inline-block;
    margin-right:20px;
}
a{
    text-decoration:none;
    
}

p{
    color:#555;
}
.c1 {
    padding: 10px 0px;
}
/* Style the tab */
.tab {
  float: left;
  background-color: #f1f1f1;
  width: 20%;
  height: 100vh;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 15px 15px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
    font-size: 18px;
     font-family: 'Nunito', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
    
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 80%;
  border-left: none;
  height: 100vh;
     font-family: 'Nunito', sans-serif;
}

.filters {
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
     font-family: 'Nunito', sans-serif;
}
.collections {
    font-size: 22px;
    padding-left: 15px;
    font-weight: bold;
     font-family: 'Nunito', sans-serif;
}
.tab p{
    font-family: 'Nunito', sans-serif;
    }

.xyz {
    padding: 0px 15px;
}

.product_list {
    height: 100vh;
    padding: 1em;
    margin: 20px 0px;
    background-color: #dfe6e9;
}
.product_list .card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2beb2;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.card .title {
    font-size: 13px;
    font-weight: bold;
}
.card .price {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}
.add_to_cart_button {
    background-color: #dfe6e9;
    border-radius: 100px;
    box-shadow: 0px 5px 5px #b2beb2;
    color: #000;
    cursor: pointer;
    display: inline-block;
   font-family: 'Nunito', sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.add_to_cart_button:hover {
    box-shadow: 0px 5px 5px #b2beb2;
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.heart_button {
    background: transparent;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    padding:5px 10px;
    color: grey;
}

.heart_button i:hover {
    cursor: pointer;
}