* {
    box-sizing: border-box;
}
/* 
.bgimg {
    position: fixed;
    margin: auto;
    display: block;
}

img {
    object-fit: fill;
} */

html {
    background: url("https://cdn.dribbble.com/users/855661/screenshots/14389812/media/9516560fcf9d9d53cc7696c61f862801.jpg?compress=1&resize=1200x900&vertical=top") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parent {
    position: relative;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    width: 350px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.header {
    text-align: center;
    padding-top: 2em;
}

.header h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
}

.main {
    text-align: center;
}

input {
    font-size: 16px;
    text-indent: 1em;
    position: relative;
    margin: auto;
    margin: 0.8em 0em;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    height: 2em;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}

input:focus {
    outline: none;
}

i {
    color: rgba(0, 0, 0, 0.6);
    padding: 0px 0.5em;
}

.main button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    display: inline-block;
    /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    width: 30%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 2em;
    margin-bottom: 5em;
}